body {
	font-size: 0.8em;
	position: relative;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
}

nav {

	background-color: black;
}



#nav ul li span {

	color: #e4c93d;
	font-size: 45px;
	margin-left: 12px;

}

#nav ul li span:hover {

	color: white;


}

#nav a span {

	color: #e4c93d;
	font-size: 45px;
	margin-right: 35px;
}

#nav a span:hover {

	color: white;

}

footer {

	background-color: black;
	position: absolute;
	bottom:0;

}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 2px;
}


.fa:hover {
	opacity: 0.7;
	color: #e4c93d;
}


.fa-facebook {
	background: black;
	color: white;
}

.fa-instagram {
	background: black;
	color: white;
}

.btn {

	background-color: black;
	color: #e4c93d;
	border: 3px solid;
	border-radius: 10px;
}

.btn:hover {

	background-color: white;
	color: black;
	border: 3px solid;

}

hr {

	display: block;

	color: #e4c93d;
	height: 15px;



}